.ht1 {
    background-color: rgb(28, 108, 162);
    border-bottom: 4px solid rgb(22, 22, 160);
    border-radius: 5px;
    color: aliceblue;
    width: 1530px;
    height: 100px;
    text-align: center;
}

.r1 {
    border-top: 4px solid rgb(28, 108, 162);
    border-radius: 10px;
    border-bottom: 4px solid rgb(28, 108, 162);
    border-radius: 10px;
    width: 290px;
    height: 230px;
    text-align: center;
    background-color: aliceblue;
}

.im1 {
    width: 80px;
    height: 60px;
}

.b1 {
    border: 5px;
    background-color: rgb(38, 38, 149);
    border-radius: 15px;
    width: 150px;
    height: 30px;
    color: aliceblue;
}

.im2 {
    width: 90px;
    height: 90px;
}

.r2 {
    border-top: 4px solid rgb(28, 108, 162);
    border-radius: 10px;
    border-bottom: 4px solid rgb(28, 108, 162);
    border-radius: 10px;
    width: 290px;
    height: 260px;
    text-align: center;
    background-color: aliceblue;
}

.b2 {
    border: 5px;
    background-color: rgb(38, 38, 149);
    border-radius: 15px;
    width: 150px;
    height: 30px;
    color: aliceblue;
}

.im3 {
    width: 80px;
    height: 60px;
}

.r3 {
    border-top: 4px solid rgb(28, 108, 162);
    border-radius: 10px;
    border-bottom: 4px solid rgb(28, 108, 162);
    border-radius: 10px;
    width: 290px;
    height: 230px;
    text-align: center;
    background-color: aliceblue;
}

.b3 {
    border: 5px;
    background-color: rgb(38, 38, 149);
    border-radius: 15px;
    width: 150px;
    height: 30px;
    color: aliceblue;
}

.f1 {
    background-color: rgb(27, 27, 155);
    border-top: 5px solid rgb(46, 46, 255);
    color: aliceblue;
    width: 1530px;
    height: 50px;
    text-align: center;
}